/datasets/CASIA-B
/datasets/CASIA-B-pkl
/venv
**/__pycache__
/logs
/utils
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.bcf
**/*.run.xml
**/*.nav
**/*.sn
**/*.snm