data_cfg:
  dataset_name: CASIA-B
  dataset_root: D:/HCMUS/HK7/Biometric/Project/HSTL/datasets/CASIA-B-pkl
  dataset_partition: ./misc/partitions/CASIA-B_include_005.json
  num_workers: 0
  remove_no_gallery: false
  test_dataset_name: CASIA-B
  cache: false

evaluator_cfg:
  enable_float16: false 
  restore_ckpt_strict: true
  restore_hint: 80000
  save_name: HSTL
  sampler:
    batch_size: 1
    sample_type: all_ordered
    type: InferenceSampler

loss_cfg:
  - loss_term_weight: 1.0
    margin: 0.2
    type: TripletLoss
    log_prefix: triplet
  - loss_term_weight: 1.0
    scale: 16
    type: CrossEntropyLoss
    log_accuracy: true
    label_smooth: true
    log_prefix: softmax

model_cfg:
  model: HSTL
  channels:
    - 32
    - 64
    - 128
  class_num: 74

optimizer_cfg:
  lr: 0.1
  momentum: 0.9
  solver: SGD
  weight_decay: 0.0005

scheduler_cfg:
  gamma: 0.1
  milestones:
    - 10000
    - 20000
    - 30000
  scheduler: MultiStepLR

trainer_cfg:
  enable_float16: true
  fix_BN: false
  log_iter: 100
  with_test: true
  optimizer_reset: true
  scheduler_reset: true
  restore_ckpt_strict: true
  restore_hint: 0
  save_iter: 10000
  save_name: HSTL
  sync_BN: true
  total_iter: 80000
  sampler:
    batch_size: 8
    sample_type: fixed_ordered
    frames_num_fixed: 30
    frames_skip_num_fixed: 0
    sample_method: random_ordered
    type: TripletSampler

# PHẦN QUAN TRỌNG BỊ THIẾU LÚC NÃY
transform:
  - type: BaseSilCuttingTransform
    img_w: 64