name: hstl_cpu
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - pyyaml
  - opencv
  - tqdm
  - pip
  - pip:
    - torch==1.13.1
    - torchvision==0.14.1
    - tensorboard
    - einops